body {
	font-family: Arial, sans-serif;
}

header {
    text-align: center; 
    padding: 5px; 
    background-color: rgb(228, 182, 167); 
    color: white; 
}
footer{
    text-align: center; 
    padding: 20px; 
    background-color: DarkSalmon;
    color: white; 
}

section{
    margin: 50px; 
}

.segundo{
    text-align: center; 
}

.boton {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px;
  }

.contenedor-base{
    max-width: 950px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 40px;

    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.contenedor-hora{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.contenedor-raiz{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


label {
	display: inline-block;
    width: 40%;
	margin-right: 10px;
}

input[type="text"], input[type="email"], input[type="tel"] {
	width: 100px;
}

h1{
    text-align: center;
    padding: 10px;
}

a{
    text-decoration: none; 
    color: #333; 
    margin-left: 10px;
}

h2 {
	margin: 10px;
}

.posicion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imprimir{
    position: relative;
    top: 2px; 
    left: 35%;
}

p {
    text-align: center; 
    margin: 0 auto;
	margin-top: 0;
}
